.app {
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    justify-items: center;
    min-height: 0;
    box-sizing: border-box;
    text-align: center;
    padding: 1em 0;
    gap: 1em;
}

.header, .footer {
    width: var(--canvas-width);
    display: flex;
    gap: 1em; 
    justify-content: space-between; 
}

.horseImage canvas {
    display: block;
}

.partsAmount {
    width: 3em;
}

.ratings {
    width: var(--canvas-width);
    display: flex;
    justify-content: space-around;
}

.ratingsPart {
    padding: 0 0.25em;
    flex-grow: 1;
}

.ratingsPart label, .ratingsPart input {
    text-align: center;
    margin: 0.25em;
}

.ratingsPart input {
    text-align: center;
    width: 3em;
}

.checkboxLabel {
    display: inline-flex;
    align-items: center;
    gap: 0.3em;
}